@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #1f242d;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #4b35883f;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 27px;
    cursor: default;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 0px 16px;
    font-weight: 600;
    transition: all 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: cyan;
}

/* main css start here */


.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 630px;
    /* margin-top: 50px; */
}

.info {
    width: 550px;
    padding: 30px;
}

.info>h3 {
    font-size: 1.2rem;
}

#s-info {
    margin-bottom: 20px;
}

.info i {
    color: cyan;
    font-size: 500;
}

.social {
    display: flex;
    list-style: none;
    cursor: pointer;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    border: 2px solid cyan;
    color: cyan;
    height: 35px;
    width: 35px;
    font-size: 1.2rem;
    border-radius: 50%;
}

.media span {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .9s;
}

.media:hover {
    box-shadow: 0 0 20px cyan;
    transform: scale(1.05);
}

.btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.btn input {
    width: 180px;
    height: 30px;
    background-color: cyan;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    transition: all 0.3s;
    cursor: pointer;
}

.btn input:hover {
    box-shadow: 0 0 15px cyan;
    transform: scale(1.05);
}



.photo {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, cyan, purple, cyan);
    box-shadow: 0 0 80px cyan;
}

.inner {
    height: 310px;
    width: 310px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px purple;
}

.inner>img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}


/* about section css start */

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 630px;
   
}

.a-info {
    width: 400px;
}

.a-info>h1 {
    font-size: 2rem;
}

.a-info b {
    color: cyan;
}

.a-info>h3 {
    margin: 10px 0;
}

.a-info>p {
    margin-bottom: 20px;
}

/* skill selction css start here */


.mh-skills {
    height: 630px;
    margin-top: 50px;
    padding: 100px;
}

.container1 {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* align-items: center; */
}

.mh-skills .mh-professional-skill {
    /* padding-right: 40px; */
    color: white;
}

.title1{

    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 36px;
    font-family: 'poppins', sans-serif;
    margin-top: 30px;
}

.mh-professional-skills {
    padding-left: 20px;
}

.mh-professional-skills h3 {
    font-size: 30px;
    line-height: 40px;
    /* text-align: center; */
    font-weight: 400;
    margin-bottom: 60px;
    margin-top: 20px;
    margin-left: 100px;
    font-family: 'poppins', sans-serif;
}

.mh-professional-progress li {
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 30px;
}

.mh-progress {
    margin-bottom: 10px;
    font: 900 1.14285/1;
    color: white;
}

.wrapper {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.wrapper .card {
    /* background: #fff; */
    /* width: calc(28% - 20px); */
    width: 200px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper .card .circle {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: default;
}

.card .circle .box,
.card .circle .box span {
    position: absolute;
    top: 50%;
    left: 50%;
}

.card .circle .box {
    height: 100%;
    width: 100%;
    /* background: #fff; */
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all .02s;
}

.card .circle:hover .box {
    transform: translate(-50%, -50%) scale(0.91);
}

.card .circle .box span,
.wrapper .card .text {
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s;
}

.circle .box span {
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
}

.card .circle:hover .box span {
    transform: translate(-45%, -45%) scale(1.09);
}

.card .text {
    font-size: 20px;
    font-weight: 600;
}

@media(max-width: 753px) {
    .wrapper {
        max-width: 700px;
    }

    .wrapper .card {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
}

@media(max-width: 505px) {
    .wrapper {
        max-width: 500px;
    }

    .wrapper .card {
        width: 100%;
    }
}

.container {
    /* position: relative; */
    max-width: 600px;
    width: 600px;
    /* background: #fff; */
    margin: 150px 15px;
    padding: 10px 20px;
    border-radius: 7px;
    color: white;
}

.container .skill-box {
    width: 100%;
    margin: 25px 0;
}

.skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0, 0, 0, 0.1);
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 95%;
    border-radius: 6px;
    background: #4070f4;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

.skill-per.css {
    width: 80%;
    animation-delay: 0.1s;
}

.skill-per.javascript {
    width: 50%;
    animation-delay: 0.2s;
}

.skill-per.nodejs {
    width: 55%;
    animation-delay: 0.3s;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}

.tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);

}


/* project section css start here */

.project {
    height: 630px;
    margin-top: 70px;
    padding-top: 100px;
}

.p-name{
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    font-family: 'poppins',sans-serif;
    font-weight: 600;
}

.projects{
    height: 500px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.items{
    width: 350px;
    height: 350px;
    /* overflow: hidden; */
    transition: all .3s ;
   
}
.items:hover{
    transform: scale(1.03);
}
.img{
    height: 350px;
    width: 350px;
    
}

.img>img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.p-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    padding: 20px;
    /* margin: 20px; */
    top: 0;
    left: 0;
    position: relative;
    transform: translatey(-102%);
    background-color: rgba(201, 135, 14, 0.255);
    opacity: 0;
    transition: all .6s ;
}
.p-info:hover{
    opacity: 1;
    backdrop-filter: blur(10px);
}








/* contact section css start here */

.contact {
    height: 630px;
}

.contact{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
}
.contact-me{
    width: 40%;
    padding: 20px;
}
.contact-me>h2>span{
    color: cyan;
}
.contact-me>h2{
    text-align: center;
    margin-bottom: 10px;
}
.contact-me>h3{
    margin-bottom: 10px;
}
.contact-me>p{
    margin-bottom: 20px;
}
.email{
    display:flex;
    margin-bottom: 10px;
}
.icon{
    color: white;
    margin-right: 20px;
    font-size: 1.3rem;
}
.mobile{
    display:flex;
    margin-bottom: 10px;
}
.email>p>a{
    color: cyan;
    text-decoration: none;
}
.mobile>p{
    color: cyan;
    cursor: pointer;
}




.contact-form{
    width: 40%;
    height: 400px;
    text-align: center;
    padding-top: 30px;
}
.contact-form>input{
    width:80%;
    outline: none;
    border: none;
    margin-bottom: 8px;
    background-color: rgba(64, 64, 64, 0.215);
    color: white;
    border-radius: 5px;
}
#name{
    height: 40px;
}
#email{
    height: 40px;
}
#subject{
    height: 40px;
}
#mess{
    height: 120px;
}
#sub-btn{
    margin-top: 20px;
    height: 40px;
    background-color:#00F5FF;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    transition: all 0.3s; 
    cursor: pointer;
}
#sub-btn:hover{
    box-shadow: 0 0 15px rgba(85, 75, 213, 0.607);
    transform: scale(1.02);
}

.footer{
    width: 100%;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b35883f;
}
.footer>p{
    font-family: 'poppins'sans-serif;
    font-weight: 500;
}



.top-icon{
    position: absolute;
    right: 0;
    color: cyan;
    font-size: 2.5rem;
}
.top-icon a:hover{
    color: cyan;
}